.LoaderButton .spinner {
  margin-right: 7px;
  margin-bottom: 2px;
  vertical-align: middle;
  /* top: 12px; */
  /* animation: spin 1s infinite linear; */
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
